/*Puts the headers and edit buttons on the same line*/
.edit_button, #main_header, .edit_section, .remove_section_button, .save_button
{
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}

/*Puts the line under only the words in the headers*/
/*But keeps the edit buttons on the same line*/
h1:after, h2:after
{
  content: '';
  display: block;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  box-shadow: inset 0 1px rgba(0,0,0,0.05);
}

/*Puts a line under the header to the other side of the page*/
/*This makes the edit buttons go to the next line for some reason*/
/*h1, h2
{
  border-bottom: 1px solid #CCC;
  width: 100%;
}*/

/*Makes the secondary headers text not bold*/
h2
{
  font-weight: normal;
}

ul
{
  list-style-type: none;
}

#contents
{
  text-align: center;
}

#contents_box
{
  display: table;
  zoom: 1;
  padding: 7px
  border: 1px solid #a2a9b1;
  background-color: #f8f9fa;
  font-size: 95%
  direction: ltr;
  line-height: 1.6;
  color: #222222;
}

.main_body
{
  margin-left: 10em;
  border: 1px solid #a7d7f9;
  margin-top: -1px;
  padding: 1em;
  background-color: #ffffff;
  color: #222222;
  direction: ltr;
  display: block;
  font-size: 100%;
}

.banner
{
  margin-left: 10em;
  height: 5em;
  display: block;
  text-align: center;
}

.left_panel
{
  font-size: inherit;
  position: absolute;
  top: 0;
  width: 10em;
  left: 0;
  display: block;
  padding: 100px 0;
}
/*
.logo
{
  width: 10em;
  height: -5em;
  display: block;
}

img
{
  max-width: 100%;
  max-height: 100%;
}

.logo_picture
{
  display: block;
  max-width: 100%;
  max-height: 100%;
  background-image: url("Horde1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}*/

p
{
  display: inline-block;
  margin:0 auto;
  max-width:300 px;
  /*margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;*/
  word-wrap: break-word;
  overflow: hidden;
}
